# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
/plugins/quote/quote.a
/plugins/quote/quote.h
/so/quote/quote.a
/so/quote/quote.h
/quote.a
